Sentimental_Analysis.json
[{"id":"64a016c4.58b0b8","type":"tab","label":"Live feed","disabled":false,"info":""},{"id":"f8381eae.fd7fc","type":"tab","label":"Visual Assistance","disabled":false,"info":""},{"id":"e9fa3da2.764d","type":"tab","label":"Manual Input","disabled":false,"info":""},{"id":"f898827e.f8d2","type":"tab","label":"Homepage","disabled":false,"info":""},{"id":"5139ca9d.104f84","type":"twitter-api-connection","z":"","consumerKey":"1DqaCD1lrDWXmebQPBmayw7LK","consumerSecret":"O81qUeATu69VAllixLPYviX7bMmZhc8lNVu74OlrgotIqXiXPc","accessToken":"2572594754-HFJtY2T2JkdT9pDMPOh6Fqgxd1zWi6PBDJMh8f0","accessSecret":"LtNe9SOQTYfWavZleIvpQBMs0JRw1ObjcdPvNTgX3Odaw"},{"id":"d4737b76.b8ee18","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#007e9e","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#007e9e","edited":true},"page-titlebar-backgroundColor":{"value":"#007e9e","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#00bbea","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#007e9e","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"24f23c44.b0d4d4","type":"twitter-credentials","z":"","screen_name":"stephen_always"},{"id":"4ad76797.27daa8","type":"ui_group","z":"","name":"Sentiment","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"cd4019c2.7b4858","type":"ui_group","z":"","name":"Tweets","tab":"2ba66f39.564da","order":1,"disp":true,"width":"6","collapse":false},{"id":"c7202aa0.3d6578","type":"ui_group","name":"Group 2","tab":"bdac74e.c388e88","order":2,"disp":true,"width":6},{"id":"96a96d39.fc0d4","type":"ui_group","name":"Group 1","tab":"93d895db.839538","order":1,"disp":true,"width":6},{"id":"e9b18570.882288","type":"ui_group","name":"Group 2","tab":"93d895db.839538","order":2,"disp":true,"width":6},{"id":"2ba66f39.564da","type":"ui_tab","z":"","name":"Twitter Screen Board","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"421358b.736a8a8","type":"ui_group","z":"","name":"Tweets","tab":"e394ab31.b6c7d8","order":1,"disp":true,"width":"6","collapse":false},{"id":"7149da24.204874","type":"ui_group","z":"","name":"Tweet Details","tab":"e394ab31.b6c7d8","order":2,"disp":true,"width":"10","collapse":false},{"id":"a1062ff.e75f8d","type":"ui_group","z":"","name":"Graphical Representation","tab":"e394ab31.b6c7d8","order":3,"disp":true,"width":"6","collapse":false},{"id":"e394ab31.b6c7d8","type":"ui_tab","z":"","name":"Sentimental Analysis","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"6363cee0.a34a","type":"ui_group","z":"","name":"","tab":"6dcbf19.833551","order":1,"disp":true,"width":"12","collapse":false},{"id":"6dcbf19.833551","type":"ui_tab","z":"","name":"User Input","icon":"dashboard","disabled":false,"hidden":false},{"id":"16dcccea.806bf3","type":"twitter-api-connection","z":"","consumerKey":"1DqaCD1lrDWXmebQPBmayw7LK","consumerSecret":"O81qUeATu69VAllixLPYviX7bMmZhc8lNVu74OlrgotIqXiXPc","accessToken":"HFJtY2T2JkdT9pDMPOh6Fqgxd1zWi6PBDJMh8f0","accessSecret":"LtNe9SOQTYfWavZleIvpQBMs0JRw1ObjcdPvNTgX3Odaw"},{"id":"61c38f1e.ec90c","type":"ui_group","z":0,"name":"Audio output","tab":"3b58b517.5bd25a","order":1,"disp":true,"width":"6","collapse":false},{"id":"3b58b517.5bd25a","type":"ui_tab","z":0,"name":"Audio","icon":"dashboard","disabled":false,"hidden":false},{"id":"ac1343d6.aa5c5","type":"delay","z":"64a016c4.58b0b8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"4","nbRateUnits":"10","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":560,"y":400,"wires":[["81c7eb13.6ed868","bbe8a72c.bc4998","4d66be85.f9403"]]},{"id":"81c7eb13.6ed868","type":"change","z":"64a016c4.58b0b8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"sentiment.score","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":480,"wires":[["8cf38cce.27716","3f38c441.14d4ec"]]},{"id":"bbe8a72c.bc4998","type":"change","z":"64a016c4.58b0b8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"tweet.text","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":400,"wires":[["ca03c2ca.7d7cc"]]},{"id":"b42d4d1c.500ae","type":"function","z":"64a016c4.58b0b8","name":"High Score","func":"var emotions = [];\nemotions = msg.response.document_tone.tone_categories\n                .filter(function(c){\n                    if (c.category_id == \"emotion_tone\")\n                    {return c; }\n                    })[0].tones;\n                    \nvar myscore =  0;\nfor (var i=0; i<emotions.length; i++) {\n    if(emotions[i].score > myscore) {\n        msg.payload = emotions[i].score;\n        msg.topic = emotions[i].tone_name;\n        myscore = emotions[i].score;\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":340,"wires":[["ac1343d6.aa5c5"]]},{"id":"4d66be85.f9403","type":"switch","z":"64a016c4.58b0b8","name":"Select Emotion","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"Joy","vt":"str"},{"t":"eq","v":"Fear","vt":"str"},{"t":"eq","v":"Sadness","vt":"str"},{"t":"eq","v":"Anger","vt":"str"},{"t":"eq","v":"Disgust","vt":"str"}],"checkall":"true","outputs":5,"x":860,"y":180,"wires":[["cde9dc69.76bca"],["9673f14.c6d3d1"],["3d1c67f3.e8b128"],["c3f881ef.438df"],["659a3b37.97aa94"]]},{"id":"cde9dc69.76bca","type":"change","z":"64a016c4.58b0b8","name":"Joy","rules":[{"t":"set","p":"payload","pt":"msg","to":"255,255,0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1030,"y":120,"wires":[["7a5333b8.e9615c"]]},{"id":"9673f14.c6d3d1","type":"change","z":"64a016c4.58b0b8","name":"Fear","rules":[{"t":"set","p":"payload","pt":"msg","to":"0,255,0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1030,"y":160,"wires":[["7a5333b8.e9615c"]]},{"id":"3d1c67f3.e8b128","type":"change","z":"64a016c4.58b0b8","name":"Sadness","rules":[{"t":"set","p":"payload","pt":"msg","to":"0,0,255","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":220,"wires":[["7a5333b8.e9615c"]]},{"id":"c3f881ef.438df","type":"change","z":"64a016c4.58b0b8","name":"Anger","rules":[{"t":"set","p":"payload","pt":"msg","to":"255,0,0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1030,"y":260,"wires":[["7a5333b8.e9615c"]]},{"id":"659a3b37.97aa94","type":"change","z":"64a016c4.58b0b8","name":"Disgust","rules":[{"t":"set","p":"payload","pt":"msg","to":"221,160,221","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":300,"wires":[["7a5333b8.e9615c"]]},{"id":"7a5333b8.e9615c","type":"template","z":"64a016c4.58b0b8","name":"Score tweet","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This tweet expresses {{topic}} ","output":"str","x":1230,"y":220,"wires":[["d5110fe8.2f70e"]]},{"id":"1fc84400.e2be9c","type":"function","z":"64a016c4.58b0b8","name":"Data Cleaning","func":"var tweet = msg.tweet.text;\nvar newtweet = tweet.replace(/#/g, \" Hash tag \");\n\nmsg.payload = newtweet.replace( /(([a-z]+:\\/\\/)?(([a-z0-9\\-]+\\.)+([a-z]{2}|biz|com|co|edu|gov|info|net|org|ly))(:[0-9]{1,5})?(\\/[a-z0-9_\\-\\.~]+)*(\\/([a-z0-9_\\-\\.]*)(\\?[a-z0-9+_\\-\\.%=&amp;]*)?)?(#[a-zA-Z0-9!$&'()*+.=-_~:@/?]*)?)(\\s+|$)/gi, \"see short URL \" );\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":20,"wires":[["e89044ce.7ad008","256fbe50.38a802"]]},{"id":"ca03c2ca.7d7cc","type":"ui_text","z":"64a016c4.58b0b8","group":"421358b.736a8a8","order":7,"width":"6","height":"8","name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":970,"y":400,"wires":[]},{"id":"d5110fe8.2f70e","type":"ui_text","z":"64a016c4.58b0b8","group":"7149da24.204874","order":3,"width":"8","height":"4","name":"","label":"Sentiment","format":"{{msg.payload}}","layout":"col-center","x":1260,"y":360,"wires":[]},{"id":"3f38c441.14d4ec","type":"ui_gauge","z":"64a016c4.58b0b8","name":"","group":"7149da24.204874","order":1,"width":"9","height":"4","gtype":"gage","title":"","label":"units","format":"{{value}}","min":"0","max":"1","colors":["#db1414","#e6e600","#2bff00"],"seg1":"","seg2":"","x":990,"y":560,"wires":[]},{"id":"8cf38cce.27716","type":"ui_chart","z":"64a016c4.58b0b8","name":"","group":"a1062ff.e75f8d","order":2,"width":"6","height":"8","label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-1","ymax":"2","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#e62d2d","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"outputs":1,"x":1042.3333740234375,"y":488,"wires":[[]]},{"id":"251f4282.1ae3fe","type":"function","z":"e9fa3da2.764d","name":"","func":"msg.payload=msg.payload.inp\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":60,"wires":[["4ffa36e5.ba8858"]]},{"id":"488f90d7.5069b","type":"function","z":"e9fa3da2.764d","name":"High Score","func":"var emotions = [];\nemotions = msg.response.document_tone.tone_categories\n                .filter(function(c){\n                    if (c.category_id == \"emotion_tone\")\n                    {return c; }\n                    })[0].tones;\n                    \nvar myscore =  0;\nfor (var i=0; i<emotions.length; i++) {\n    if(emotions[i].score > myscore) {\n        msg.payload = emotions[i].score;\n        msg.topic = emotions[i].tone_name;\n        myscore = emotions[i].score;\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":360,"wires":[["170a48f6.1e4ea7","dfab5700.7d9668"]]},{"id":"170a48f6.1e4ea7","type":"switch","z":"e9fa3da2.764d","name":"Select Emotion","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"Joy","vt":"str"},{"t":"eq","v":"Fear","vt":"str"},{"t":"eq","v":"Sadness","vt":"str"},{"t":"eq","v":"Anger","vt":"str"},{"t":"eq","v":"Disgust","vt":"str"}],"checkall":"true","outputs":5,"x":890,"y":380,"wires":[["d51ef0f2.c9c3"],["651bee09.1ac51"],["c94a3832.c13488"],["a86e161f.a068e8"],["78617962.07a468"]]},{"id":"dfab5700.7d9668","type":"change","z":"e9fa3da2.764d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"sentiment.score","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":580,"wires":[["aee55180.921d5"]]},{"id":"78617962.07a468","type":"change","z":"e9fa3da2.764d","name":"Disgust","rules":[{"t":"set","p":"payload","pt":"msg","to":"221,160,221","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1070,"y":480,"wires":[["4713abee.e6c694"]]},{"id":"a86e161f.a068e8","type":"change","z":"e9fa3da2.764d","name":"Anger","rules":[{"t":"set","p":"payload","pt":"msg","to":"255,0,0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1060,"y":440,"wires":[["4713abee.e6c694"]]},{"id":"c94a3832.c13488","type":"change","z":"e9fa3da2.764d","name":"Sadness","rules":[{"t":"set","p":"payload","pt":"msg","to":"0,0,255","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1070,"y":400,"wires":[["4713abee.e6c694"]]},{"id":"651bee09.1ac51","type":"change","z":"e9fa3da2.764d","name":"Fear","rules":[{"t":"set","p":"payload","pt":"msg","to":"0,255,0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1060,"y":360,"wires":[["4713abee.e6c694"]]},{"id":"d51ef0f2.c9c3","type":"change","z":"e9fa3da2.764d","name":"Joy","rules":[{"t":"set","p":"payload","pt":"msg","to":"255,255,0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1060,"y":320,"wires":[["4713abee.e6c694"]]},{"id":"4713abee.e6c694","type":"template","z":"e9fa3da2.764d","name":"Score tweet","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This statement expresses {{topic}} - {{tweet.text}}","output":"str","x":1280,"y":420,"wires":[["e0168639.7b4158"]]},{"id":"e0168639.7b4158","type":"ui_text","z":"e9fa3da2.764d","group":"6363cee0.a34a","order":3,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":1490,"y":420,"wires":[]},{"id":"8ed361ab.4b90e","type":"ui_form","z":"e9fa3da2.764d","name":"","label":"","group":"6363cee0.a34a","order":0,"width":0,"height":0,"options":[{"label":"Manual Input","value":"inp","type":"text","required":true,"rows":null}],"formValue":{"inp":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":180,"y":40,"wires":[["251f4282.1ae3fe"]]},{"id":"aee55180.921d5","type":"ui_gauge","z":"e9fa3da2.764d","name":"","group":"6363cee0.a34a","order":1,"width":"11","height":"7","gtype":"gage","title":"Sentiment","label":"units","format":"{{value}}","min":"0","max":"1","colors":["#db1414","#e6e600","#2bff00"],"seg1":"","seg2":"","x":1030,"y":620,"wires":[]},{"id":"1ec02fad.d4314","type":"function","z":"f8381eae.fd7fc","name":"Data Cleaning","func":"var tweet = msg.tweet.text;\nvar newtweet = tweet.replace(/#/g, \" Hash tag \");\n\nmsg.payload = newtweet.replace( /(([a-z]+:\\/\\/)?(([a-z0-9\\-]+\\.)+([a-z]{2}|biz|com|co|edu|gov|info|net|org|ly))(:[0-9]{1,5})?(\\/[a-z0-9_\\-\\.~]+)*(\\/([a-z0-9_\\-\\.]*)(\\?[a-z0-9+_\\-\\.%=&amp;]*)?)?(#[a-zA-Z0-9!$&'()*+.=-_~:@/?]*)?)(\\s+|$)/gi, \"see short URL \" );\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1060,"y":680,"wires":[["4fa37cd5.2845c4"]]},{"id":"4fa37cd5.2845c4","type":"delay","z":"f8381eae.fd7fc","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"20","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1160,"y":600,"wires":[["4e4a6f34.0dbfd","8fb5f916.71bbf8"]]},{"id":"4e4a6f34.0dbfd","type":"ui_text","z":"f8381eae.fd7fc","group":"61c38f1e.ec90c","order":0,"width":"5","height":"5","name":"","label":"Tweet Read out!","format":"{{msg.payload}}","layout":"col-center","x":1370,"y":660,"wires":[]},{"id":"b011a21b.fee83","type":"ui_audio","z":"f8381eae.fd7fc","name":"","group":"61c38f1e.ec90c","voice":"en-US","always":"","x":1600,"y":580,"wires":[]},{"id":"835f1ff8.313d2","type":"template","z":"f898827e.f8d2","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<head>\n\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n<style>\n* {\n  box-sizing: border-box;\n}\n\nbody {\n  margin: 0;\n  font-family: Arial;\n  font-size: 17px;\n}\n\n#myVideo {\n  position: fixed;\n  right: 0;\n  bottom: 0;\n  min-width: 100%; \n  min-height: 100%;\n}\n\n.content {\n  position: fixed;\n  bottom: 0;\n  background: rgba(0, 0, 0, 0.5);\n  color: #f1f1f1;\n  width: 100%;\n  padding: 20px;\n}\n.content2 {\n  position: fixed;\n  top: 0;\n  background: rgba(0, 0, 0, 0.0);\n  color: #f1f1f1;\n  width: 100%;\n  padding: 20px;\n}\n#myBtn {\n  width: 200px;\n  font-size: 18px;\n  padding: 10px;\n  border: none;\n  background: #000;\n  color: #fff;\n  cursor: pointer;\n}\n\n#myBtn:hover {\n  background: #ddd;\n  color: black;\n}\n</style>\n</head>\n\n<body>\n\n<video autoplay muted loop id=\"myVideo\">\n  <source src=\"https://www.videvo.net/videvo_files/converted/2014_01/preview/Stars_Timelapse_from_Beach_1Videvo.mov72411.webm\" type=\"video/mp4\">\n   \n</video>\n\n \n <div class=\"content2\">\n   <h1 style=\"text-align:center;font-family:verdana:;\">IBM Hack Challenge \t2020 </h1>\n</div>\n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n\n<div class=\"content\">\n  <h1>Twitter Sentiment Analysis</h1>\n  <p>Sentiment Analysis is the process of ‘computationally’ determining whether a piece of writing is positive, negative or neutral. It’s also known as opinion mining, deriving the opinion or attitude of a speaker.</p>\n  <style>\n      .button {\n        background-color: #b7a87a;\n        border: none;\n        color: white;\n        padding: 10px 24px;\n        text-align: center;\n        text-decoration: none;\n        display: inline-block;\n        font-size: 15px;\n        margin: 4px 2px;\n        cursor: pointer;\n      }\n    </style>\n    <body>\n    <a href=\"https://tweetsent.eu-gb.mybluemix.net/ui/#!/0?socketid=iCK8njZP5bVHEjeCAAAE/\" class=\"button\">Try Here</a>\n  </body>\n \n</div>\n\n<script>\nvar video = document.getElementById(\"myVideo\");\nvar btn = document.getElementById(\"myBtn\");\n\n</script>\n\n\n</body>\n</html>\n","output":"str","x":830,"y":620,"wires":[["63ee4d17.b3e374"]]},{"id":"4d219397.09537c","type":"http in","z":"f898827e.f8d2","name":"","url":"/homepage","method":"get","upload":false,"swaggerDoc":"","x":500,"y":580,"wires":[["835f1ff8.313d2"]]},{"id":"63ee4d17.b3e374","type":"http request","z":"f898827e.f8d2","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","persist":false,"authType":"","x":1210,"y":620,"wires":[[]]},{"id":"e89044ce.7ad008","type":"watson-tone-analyzer-v3","z":"64a016c4.58b0b8","name":"","tones":"emotion","sentences":"true","contentType":"false","tone-method":"generalTone","interface-version":"2016-05-19","inputlang":"en","service-endpoint":"https://api.eu-gb.tone-analyzer.watson.cloud.ibm.com/instances/47233f28-8ee4-4448-b74d-a0a3eadaeddf","x":630,"y":140,"wires":[["b42d4d1c.500ae"]]},{"id":"8fb5f916.71bbf8","type":"watson-text-to-speech","z":"f8381eae.fd7fc","name":"","lang":"en-GB","langhidden":"en-GB","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-GB_CharlotteV3Voice","voicehidden":"en-GB_CharlotteV3Voice","format":"audio/wav","password":"","apikey":"_AOA95VL3Qex_yJcwmDRLAw7wL7E5rQuNRipUzWhFcGP","payload-response":false,"service-endpoint":"https://api.eu-gb.text-to-speech.watson.cloud.ibm.com/instances/5e8acb1a-9438-45cb-969b-44cab941bd3d","x":1360,"y":560,"wires":[["b011a21b.fee83"]]},{"id":"256fbe50.38a802","type":"debug","z":"64a016c4.58b0b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":880,"y":40,"wires":[]},{"id":"ebcd94e2.30c508","type":"twitter in","z":"f8381eae.fd7fc","twitter":"24f23c44.b0d4d4","tags":"#lockdown","user":"false","name":"","inputs":0,"x":880,"y":600,"wires":[["1ec02fad.d4314"]]},{"id":"4ffa36e5.ba8858","type":"watson-tone-analyzer-v3","z":"e9fa3da2.764d","name":"","tones":"emotion","sentences":"true","contentType":"false","tone-method":"generalTone","interface-version":"2016-05-19","inputlang":"en","service-endpoint":"https://api.eu-gb.tone-analyzer.watson.cloud.ibm.com/instances/ae7d3a44-941b-4863-858f-22beedcacb17","x":630,"y":220,"wires":[["488f90d7.5069b"]]},{"id":"1b936314.61803d","type":"twitter in","z":"64a016c4.58b0b8","twitter":"24f23c44.b0d4d4","tags":"#lockdown","user":"false","name":"","inputs":0,"x":300,"y":100,"wires":[["1fc84400.e2be9c"]]}]